In [85]:
# evaluation function 
from weka.classifiers import Classifier, Evaluation
from weka.core.classes import Random

def evaluat (classifier, data, fold):
  evaluation = Evaluation(data)                     # initialize with priors
  evaluation.crossvalidate_model(classifier, data, fold, Random(42))  # 10-fold CV
  print(evaluation.summary())

#Encoding Base classifiers 


1.   Naive Bayes
2.   PART
3.   C4.5
4.   C4.5 using unpruned tree
5.   Decision Stump
6.   Decision Table
7.   Decision Table using the nearest neighbour instead of global table majority
8.   Classification Via Regression
9.   Random Forest
10.  Random Tree
11.  VFI
12.  Conjunctive Rule
13.  JRip
14.  Nnge
15.  HyperPipes

In [87]:
# encoding 
Algorithms_names=['Naive Bayes',
'PART',
'C4.5',
'C4.5 using unpruned tree',
'Decision Stump',
'Decision Table',
'Decision Table using the nearest neighbour instead of global table majority',
'Classification Via Regression',
'Random Forest',
'Random Tree',
'VFI',
'Conjunctive Rule',
'JRip',
'Nnge',
'HyperPipes']

In [86]:
!pip install numpy
!pip install python-javabridge
!pip install python-weka-wrapper3

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.5)
Requirement already satisfied: python-javabridge in /usr/local/lib/python3.7/dist-packages (4.0.3)
Requirement already satisfied: numpy>=1.20.1 in /usr/local/lib/python3.7/dist-packages (from python-javabridge) (1.21.5)
Requirement already satisfied: python-weka-wrapper3 in /usr/local/lib/python3.7/dist-packages (0.2.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from python-weka-wrapper3) (1.21.5)
Requirement already satisfied: python-javabridge>=4.0.0 in /usr/local/lib/python3.7/dist-packages (from python-weka-wrapper3) (4.0.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from python-weka-wrapper3) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->python-weka-wrapper3) (3.0.6)

In [78]:
# start jvm
import weka.core.jvm as jvm

jvm.start(packages=True)

INFO:weka.core.jvm:JVM already running, call jvm.stop() first

In [79]:
# data 
# glass dataset 
!wget https://storm.cis.fordham.edu/~gweiss/data-mining/weka-data/glass.arff
import weka.core.converters as converters
data = converters.load_any_file("glass.arff")
data.class_is_last()

subset = data.subset(row_range='1-3') # print the first rows from the data
#print(subset)

--2021-12-24 00:26:34--  https://storm.cis.fordham.edu/~gweiss/data-mining/weka-data/glass.arff
Resolving storm.cis.fordham.edu (storm.cis.fordham.edu)... 150.108.68.26
Connecting to storm.cis.fordham.edu (storm.cis.fordham.edu)|150.108.68.26|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 17823 (17K) [text/plain]
Saving to: ‘glass.arff.8’

glass.arff.8        100%[===================>]  17.41K  --.-KB/s    in 0.06s

2021-12-24 00:26:34 (268 KB/s) - ‘glass.arff.8’ saved [17823/17823]

In [80]:
# into train and test 
from weka.core.classes import Random

train, test = data.train_test_split(80.0, Random(1))
print(len(train))
print(len(test))
train.subset(row_range='1-3')

171
43

@relation 'Glass-weka.filters.unsupervised.instance.RemoveRange-V-R1-3-weka.filters.MultiFilter-Fweka.filters.unsupervised.instance.RemoveRange -V -R 1-3'

@attribute RI numeric
@attribute Na numeric
@attribute Mg numeric
@attribute Al numeric
@attribute Si numeric
@attribute K numeric
@attribute Ca numeric
@attribute Ba numeric
@attribute Fe numeric
@attribute Type {'build wind float','build wind non-float','vehic wind float','vehic wind non-float',containers,tableware,headlamps}

@data
1.52121,14.03,3.76,0.58,71.79,0.11,9.65,0,0,'vehic wind float'
1.51674,12.87,3.56,1.64,73.14,0.65,7.99,0,0,'build wind non-float'
1.52119,12.97,0.33,1.51,73.39,0.13,11.27,0,0.28,containers

# loading saved models

In [ ]:
from weka.classifiers import Classifier, Evaluation
outfile ="j482.model"
model1, _ = Classifier.deserialize(outfile)
print(model1)

J48 pruned tree
------------------

Ba <= 0.11
|   Mg <= 2.39
|   |   Na <= 13.99
|   |   |   Al <= 1.38: build wind non-float (6.0/1.0)
|   |   |   Al > 1.38
|   |   |   |   Fe <= 0.08: containers (8.0)
|   |   |   |   Fe > 0.08: build wind non-float (4.0/1.0)
|   |   Na > 13.99
|   |   |   K <= 0.05: tableware (8.0)
|   |   |   K > 0.05: build wind non-float (2.0/1.0)
|   Mg > 2.39
|   |   Ca <= 8.31
|   |   |   Al <= 1.4
|   |   |   |   Mg <= 3.77
|   |   |   |   |   RI <= 1.51694: build wind non-float (3.0/1.0)
|   |   |   |   |   RI > 1.51694: build wind float (7.0)
|   |   |   |   Mg > 3.77: build wind non-float (4.0)
|   |   |   Al > 1.4: build wind non-float (32.0/1.0)
|   |   Ca > 8.31
|   |   |   RI <= 1.51707
|   |   |   |   Si <= 72.72: vehic wind float (5.0)
|   |   |   |   Si > 72.72
|   |   |   |   |   RI <= 1.51655: build wind float (2.0/1.0)
|   |   |   |   |   RI > 1.51655: build wind non-float (2.0)
|   |   |   RI > 1.51707
|   |   |   |   Fe <= 0.11
|   |   |   |   |   Al <= 1.47
|   |   |   |   |   |   Fe <= 0.01
|   |   |   |   |   |   |   Al <= 1.11
|   |   |   |   |   |   |   |   Mg <= 3.7: vehic wind float (3.0/1.0)
|   |   |   |   |   |   |   |   Mg > 3.7
|   |   |   |   |   |   |   |   |   RI <= 1.52152
|   |   |   |   |   |   |   |   |   |   RI <= 1.52101: build wind float (2.0)
|   |   |   |   |   |   |   |   |   |   RI > 1.52101: vehic wind float (2.0)
|   |   |   |   |   |   |   |   |   RI > 1.52152: build wind float (6.0)
|   |   |   |   |   |   |   Al > 1.11
|   |   |   |   |   |   |   |   RI <= 1.51839: build wind float (18.0)
|   |   |   |   |   |   |   |   RI > 1.51839
|   |   |   |   |   |   |   |   |   Na <= 13.42: build wind non-float (4.0)
|   |   |   |   |   |   |   |   |   Na > 13.42: build wind float (5.0/1.0)
|   |   |   |   |   |   Fe > 0.01: build wind float (7.0)
|   |   |   |   |   Al > 1.47: vehic wind float (4.0/1.0)
|   |   |   |   Fe > 0.11
|   |   |   |   |   Mg <= 3.6: build wind float (6.0)
|   |   |   |   |   Mg > 3.6
|   |   |   |   |   |   RI <= 1.51994: build wind non-float (8.0)
|   |   |   |   |   |   RI > 1.51994: build wind float (3.0)
Ba > 0.11
|   Si <= 69.89: build wind non-float (2.0/1.0)
|   Si > 69.89: headlamps (18.0)

Number of Leaves  : 	26

Size of the tree : 	51

In [45]:
import os
import tempfile
#import wekaexamples.helper as helper
import weka.core.serialization as serialization

# saving classifier 
import os
#helper.print_title("I/O: single object")
outfile ="j482.model"

In [46]:
from weka.classifiers import Classifier, Evaluation
outfile1 ="naivBayes.model"
model1, _ = Classifier.deserialize(outfile)
print(model1)

J48 pruned tree
------------------

Ba <= 0.11
|   Mg <= 2.39
|   |   Na <= 13.99
|   |   |   Al <= 1.38: build wind non-float (6.0/1.0)
|   |   |   Al > 1.38
|   |   |   |   Fe <= 0.08: containers (8.0)
|   |   |   |   Fe > 0.08: build wind non-float (4.0/1.0)
|   |   Na > 13.99
|   |   |   K <= 0.05: tableware (8.0)
|   |   |   K > 0.05: build wind non-float (2.0/1.0)
|   Mg > 2.39
|   |   Ca <= 8.31
|   |   |   Al <= 1.4
|   |   |   |   Mg <= 3.77
|   |   |   |   |   RI <= 1.51694: build wind non-float (3.0/1.0)
|   |   |   |   |   RI > 1.51694: build wind float (7.0)
|   |   |   |   Mg > 3.77: build wind non-float (4.0)
|   |   |   Al > 1.4: build wind non-float (32.0/1.0)
|   |   Ca > 8.31
|   |   |   RI <= 1.51707
|   |   |   |   Si <= 72.72: vehic wind float (5.0)
|   |   |   |   Si > 72.72
|   |   |   |   |   RI <= 1.51655: build wind float (2.0/1.0)
|   |   |   |   |   RI > 1.51655: build wind non-float (2.0)
|   |   |   RI > 1.51707
|   |   |   |   Fe <= 0.11
|   |   |   |   |   Al <= 1.47
|   |   |   |   |   |   Fe <= 0.01
|   |   |   |   |   |   |   Al <= 1.11
|   |   |   |   |   |   |   |   Mg <= 3.7: vehic wind float (3.0/1.0)
|   |   |   |   |   |   |   |   Mg > 3.7
|   |   |   |   |   |   |   |   |   RI <= 1.52152
|   |   |   |   |   |   |   |   |   |   RI <= 1.52101: build wind float (2.0)
|   |   |   |   |   |   |   |   |   |   RI > 1.52101: vehic wind float (2.0)
|   |   |   |   |   |   |   |   |   RI > 1.52152: build wind float (6.0)
|   |   |   |   |   |   |   Al > 1.11
|   |   |   |   |   |   |   |   RI <= 1.51839: build wind float (18.0)
|   |   |   |   |   |   |   |   RI > 1.51839
|   |   |   |   |   |   |   |   |   Na <= 13.42: build wind non-float (4.0)
|   |   |   |   |   |   |   |   |   Na > 13.42: build wind float (5.0/1.0)
|   |   |   |   |   |   Fe > 0.01: build wind float (7.0)
|   |   |   |   |   Al > 1.47: vehic wind float (4.0/1.0)
|   |   |   |   Fe > 0.11
|   |   |   |   |   Mg <= 3.6: build wind float (6.0)
|   |   |   |   |   Mg > 3.6
|   |   |   |   |   |   RI <= 1.51994: build wind non-float (8.0)
|   |   |   |   |   |   RI > 1.51994: build wind float (3.0)
Ba > 0.11
|   Si <= 69.89: build wind non-float (2.0/1.0)
|   Si > 69.89: headlamps (18.0)

Number of Leaves  : 	26

Size of the tree : 	51

# Building ensemble from pre-trained models

#### voting ensemble

In [ ]:
from weka.classifiers import Classifier, Evaluation
import os
import tempfile

cls = Classifier(classname="weka.classifiers.meta.Vote",options=["-P","naivBayes.model"])
cls.build_classifier(test)

for index, inst in enumerate(test):
    pred = cls.classify_instance(inst)
    dist = cls.distribution_for_instance(inst)
    #print(str(index+1) + ": label index=" + str(pred) + ", class distribution=" + str(dist))
evaluat(classifier=cls, data=test, fold=10)

# fitness function

In [ ]:
def fitness_func(ensemble,test_data):
    summary=evaluat(classifier=ensemble, test_data, fold=10)
    fitness = summay.acc 
    return fitness

In [ ]:
path=....
model, _ = Classifier.deserialize(path)
evl.test_model(model, test)
print(evl.summary())
#print(model)

# space of serach

In [ ]:
ensembling_method=[]

In [ ]:
def fitness_func(model,data):
    output = numpy.sum(solution*function_inputs)
    fitness = acc 
    return fitness

In [ ]:
# GA Parameters 

fitness_function = fitness_func

num_generations = 30
num_parents_mating = 4

sol_per_pop = 8
num_genes = len(function_inputs)

init_range_low = -2
init_range_high = 5

parent_selection_type = "sss"
keep_parents = 1

crossover_type = "single_point"

mutation_type = "random"
mutation_percent_genes = 10

# Genetic Algorithm Part

In [ ]:
#PyGAD is an open-source Python library for building the genetic algorithm and optimizing machine learning algorithms. 

!pip3 install pygad

Collecting pygad
  Downloading pygad-2.16.1-py3-none-any.whl (53 kB)
     |████████████████████████████████| 53 kB 1.8 MB/s
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from pygad) (3.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pygad) (1.19.5)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pygad) (1.3.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pygad) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pygad) (3.0.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pygad) (0.11.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->pygad) (1.15.0)
Installing collected packages: pygad
Successfully installed pygad-2.16.1

# We will test genteic algorithm on a simple optmization problem problem first 
# finding the best set of weights that satisfy the following function:
y = f(w1:w6) = w1x1 + w2x2 + w3x3 + w4x4 + w5x5 + 6wx6
where (x1,x2,x3,x4,x5,x6)=(4,-2,3.5,5,-11,-4.7) and y=44

In [ ]:
import pygad

# problem input and output 

function_inputs = [4,-2,3.5,5,-11,-4.7]
desired_output = 44

In [ ]:
# fitness function 

def fitness_func(solution, solution_idx):
    output = numpy.sum(solution*function_inputs)
    fitness = 1.0 / numpy.abs(output - desired_output)
    return fitness

In [ ]:
# GA Parameters 

fitness_function = fitness_func

num_generations = 50
num_parents_mating = 4

sol_per_pop = 8
num_genes = len(function_inputs)

init_range_low = -2
init_range_high = 5

parent_selection_type = "sss"
keep_parents = 1

crossover_type = "single_point"

mutation_type = "random"
mutation_percent_genes = 10

In [ ]:
# Greating a class of Genetic Algorthim 

ga_instance = pygad.GA(num_generations=num_generations,
                       num_parents_mating=num_parents_mating,
                       fitness_func=fitness_function,
                       sol_per_pop=sol_per_pop,
                       num_genes=num_genes,
                       init_range_low=init_range_low,
                       init_range_high=init_range_high,
                       parent_selection_type=parent_selection_type,
                       keep_parents=keep_parents,
                       crossover_type=crossover_type,
                       mutation_type=mutation_type,
                       mutation_percent_genes=mutation_percent_genes)

/usr/local/lib/python3.7/dist-packages/pygad/pygad.py:486: UserWarning: The percentage of genes to mutate (mutation_percent_genes=10) resutled in selecting (0) genes. The number of genes to mutate is set to 1 (mutation_num_genes=1).
If you do not want to mutate any gene, please set mutation_type=None.
  if not self.suppress_warnings: warnings.warn("The percentage of genes to mutate (mutation_percent_genes={mutation_percent}) resutled in selecting ({mutation_num}) genes. The number of genes to mutate is set to 1 (mutation_num_genes=1).\nIf you do not want to mutate any gene, please set mutation_type=None.".format(mutation_percent=mutation_percent_genes, mutation_num=mutation_num_genes))

In [ ]:
# start thr optimization 
import numpy 
ga_instance.run()

In [ ]:
# Finaly Found solution 

solution, solution_fitness, solution_idx = ga_instance.best_solution()
print("Parameters of the best solution : {solution}".format(solution=solution))
print("Fitness value of the best solution = {solution_fitness}".format(solution_fitness=solution_fitness))

prediction = numpy.sum(numpy.array(function_inputs)*solution)
print("Predicted output based on the best solution : {prediction}".format(prediction=prediction))

Parameters of the best solution : [-0.74299132 -0.4316492   0.38598573  3.70109278 -1.93073469 -1.0680689 ]
Fitness value of the best solution = 173.83881795991607
Predicted output based on the best solution : 44.00575245512904

In [ ]:
import pandas as pd 
df=pd.read_csv('hypothyroid.data',header=None)
df

               0   1  2  3  4  5  6  7  8   ...    17 18   19 20    21 22   23 24 25
0     hypothyroid  72  M  f  f  f  f  f  f  ...  0.60  y   15  y  1.48  y   10  n  ?
1     hypothyroid  15  F  t  f  f  f  f  f  ...  1.70  y   19  y  1.13  y   17  n  ?
2     hypothyroid  24  M  f  f  f  f  f  f  ...  0.20  y    4  y     1  y    0  n  ?
3     hypothyroid  24  F  f  f  f  f  f  f  ...  0.40  y    6  y  1.04  y    6  n  ?
4     hypothyroid  77  M  f  f  f  f  f  f  ...  1.20  y   57  y  1.28  y   44  n  ?
...           ...  .. .. .. .. .. .. .. ..  ...   ... ..  ... ..   ... ..  ... .. ..
3158     negative  58  F  f  f  f  f  f  f  ...  1.70  y   86  y  0.91  y   95  n  ?
3159     negative  29  F  f  f  f  f  f  f  ...  1.80  y   99  y  1.01  y   98  n  ?
3160     negative  77  M  f  f  f  f  f  f  ...  0.60  y   71  y  0.68  y  104  n  ?
3161     negative  74  F  f  f  f  f  f  f  ...  0.10  y   65  y  0.48  y  137  n  ?
3162     negative  56  F  t  f  f  f  f  f  ...  1.80  y  139  y  0.97  y  143  n  ?

[3163 rows x 26 columns]

In [ ]:
import pandas as pd 
df2=pd.read_csv('vechil.csv')
df2

     compactness  circularity  ...  hollows_ratio  class
0             95         48.0  ...            197    van
1             91         41.0  ...            199    van
2            104         50.0  ...            196    car
3             93         41.0  ...            207    van
4             85         44.0  ...            183    bus
..           ...          ...  ...            ...    ...
841           93         39.0  ...            195    car
842           89         46.0  ...            197    van
843          106         54.0  ...            201    car
844           86         36.0  ...            195    car
845           85         36.0  ...            190    van

[846 rows x 19 columns]

In [ ]:
import pandas as pd 
df=pd.read_csv('australian.dat',header=None)
df

                                                  0
0    1 22.08 11.46 2 4 4 1.585 0 0 0 1 2 100 1213 0
1           0 22.67 7 2 8 4 0.165 0 0 0 0 2 160 1 0
2         0 29.58 1.75 1 4 4 1.25 0 0 0 1 2 280 1 0
3             0 21.67 11.5 1 5 3 0 1 1 11 1 2 0 1 1
4       1 20.17 8.17 2 6 4 1.96 1 1 14 0 2 60 159 1
..                                              ...
685         1 31.57 10.5 2 14 4 6.5 1 0 0 0 2 0 1 1
686      1 20.67 0.415 2 8 4 0.125 0 0 0 0 2 0 45 0
687    0 18.83 9.54 2 6 4 0.08500 1 0 0 0 2 100 1 1
688    0 27.42 14.5 2 14 8 3.085 1 1 1 0 2 120 12 1
689         1 41 0.04 2 10 4 0.04 0 1 1 0 1 560 1 1

[690 rows x 1 columns]